:root {
  --gray-dark: #37474f;
  --gray-darkest: #222b2f;

  --sidebar-width: 80px;
  --sidebar-height: 60px;
  --sidebar-item-height: 50px;
  --sidebar-item-height-desktop: 70px;

  --sidebar-z-index: 1000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
